<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.AdminMapper">

    <!-- 상품 카테고리 -->
    <select id="category" resultType="com.my.model.CategoryVO">
        select *from product_category order by depth asc;
    </select>

    <!-- 상품 등록 -->
    <insert id="register">
        insert into product (productName, categoryCode, productPrice, productStock,
                             productDescription, regdate, productImage, productThumbnail, sale)
                    values (#{productName}, #{categoryCode}, #{productPrice},
                            #{productStock}, #{productDescription}, sysdate(), #{productImage}, #{productThumbnail}, #{sale})
    </insert>

    <!-- 상품 목록 -->
    <select id="productList" resultType="com.my.model.ProductVO">
        select p.productNum, p.productName, c.categoryCode, c.categoryCodeRef, c.categoryName,
               productPrice, productStock, productDescription, regdate, p.productImage, p.productThumbnail, p.sale
        from product p inner join product_category c on p.categoryCode = c.categoryCode order by p.productNum desc
    </select>

    <!-- 상품 조회 -->
    <select id="productView" resultType="com.my.model.ProductVO">
        select p.productNum, p.productName, c.categoryCode, c.categoryCodeRef,
               c.categoryName, productPrice, productStock, productDescription, regdate, p.productImage, p.productThumbnail, p.sale
        from product p inner join product_category c on p.categoryCode = c.categoryCode where p.productNum = #{productNum}
    </select>

    <!-- 상품 수정 -->
    <update id="productUpdate">
        update product set productName = #{productName},
                           categoryCode = #{categoryCode},
                           productPrice = #{productPrice},
                           productStock = #{productStock},
                           productDescription = #{productDescription},
                           productImage = #{productImage},
                           productThumbnail = #{productThumbnail},
                           sale = #{sale}
                where productNum = #{productNum}
    </update>

    <!-- 상품 삭제 -->
    <delete id="productDelete">
        delete from product where productNum = #{productNum}
    </delete>
</mapper>