<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.ShopMapper">

    <!-- 상품 카테고리 목록 -->
    <select id="list" resultType="com.my.model.ProductVO">
        select p.productNum, p.productName, c.categoryCode, c.categoryCodeRef, c.categoryName,
               productPrice, productStock, productDescription, regdate, p.productImage, p.productThumbnail, p.sale,
               p.productName_ja, p.productPrice_ja, p.productDescription_ja
        from product p
            inner join product_category c
                on p.categoryCode = c.categoryCode
        where p.categoryCode = #{categoryCode}
           or c.categoryCodeRef = #{categoryCodeRef}
    </select>

    <!-- 상품 조회 -->
    <select id="productView" resultType="com.my.model.ProductVO">
        select p.productNum, p.productName, c.categoryCode, c.categoryCodeRef, c.categoryName, productPrice,
               productStock, productDescription, regdate, p.productImage, p.productThumbnail, p.sale,
               p.productName_ja, p.productPrice_ja, p.productDescription_ja
        from product p inner join product_category c on p.categoryCode = c.categoryCode where p.productNum = #{productNum}
    </select>

    <!-- 댓글 -->
    <insert id="registReply">
        insert into product_reply (productNum, memberId, replyContent, replyDate)
                values (#{productNum}, #{memberId}, #{replyContent}, sysdate())
    </insert>

    <!-- 댓글 리스트 -->
    <select id="replyList" resultType="com.my.model.ReplyVO">
        select replyNum, productNum, memberId, replyContent, replyDate
             from product_reply where productNum = #{productNum} order by replyNum desc;
    </select>

    <!-- 상품 소감(댓글) 수정 -->
    <update id="updateReply">
        update product_reply set replyContent = #{replyContent}
        where replyNum = #{replyNum} and memberId = #{memberId}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteReply">
        delete from product_reply where replyNum = #{replyNum} and memberId = #{memberId}
    </delete>

    <!-- 아이디 체크 -->
    <select id="idCheck" resultType="String">
        select memberId from product_reply where replyNum = #{replyNum}
    </select>

</mapper>